{% extends "views/components/widgets/base.htm" %}
{% load i18n %}
{% block form %}
<div class="row widget-wrapper">
    <div class="form-group">
        <div class="col-xs-12">
            <input type="text" data-bind="textInput: value"
                class="form-control input-lg widget-input">
        </div>
    </div>
</div>
{% endblock form %}
{% block report %}
{% load i18n %} {% load static %}

<dt data-bind="text: label"></dt>
<dd>

    <iframe data-bind="attr: {src: embedUrl}" width="560" height="315" title="Sketchfab model" frameborder="0" allowfullscreen
        mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
        xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share> </iframe>
</dd>
{% endblock report %}